<!DOCTYPE HTML>
<html>

<head>

	<title>Thermostat</title>

	<link rel="stylesheet" type="text/css" href="thermostat.css">

</head>

<body>

	<section class='temperature'>

		<h1>The current temperature</h1>
		<h2>Thermostat temperature</h2>

		<aside>
			<nav>
				<ul>
					<li><a href='#' class='increase_temperature'>+</a></li>
					<li><a href='#' class='decrease_temperature'>-</a></li>
					<li><a href='#' class='reset_temperature'>reset</a></li>
				</ul>
			</nav>
		</aside>

	</section>

	<script src='src/jquery-2.1.1.min.js'></script>
	<script src='src/thermostat.js'></script>
	<script src='src/interface.js'></script>
	<script>
		$(document).ready(function() {
			$.getJSON('/weather', function(data) {
					$('.temperature h1').text('Temperature outside: ' + data['list'][1]['main']['temp'] + 'C')})
     new ThermostatView('.temperature h2');
		});
	</script>

</body>

</html>